.container {
margin-top: 30px;
position: relative;
width: 320px;
height: 370px;
border: 1px solid #01b4b4;
font-family: arial;
font-size: 12px;
}

.form-header {
width: 150px;
height: 25px;
text-transform: uppercase;
text-align: left;
background-color: #01b3b3;
color: #ffffff;
padding: 4px;
}

.form {
margin-left: 20px;
text-align: center;
background-color: #ffffff;
}

.form-control {
width: 260px;
height: 30px;
background-color: #ebf4f4; 
}

.field-name {
margin: 15px auto;
text-transform: uppercase;
text-align: left;
}
.btn {
width: 260px;
height: 45px;
margin-top: 35px;
background-color: #01b4b4;
text-transform: uppercase;
}
/*@media (min-width: 320px) and (max-width: 600 px) {
...
}*/